* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #01153f;
  color: #333;
  margin: 0;
  padding: 0;
}


.header {
    background-color: #01153f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a,.header a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.3s * var(--i));

}

.navbar a:hover,.header a:hover{
    border-radius: 40px;
    box-shadow: 0 0 10px #FFB30D;
}

.navbar a:hover,
.header a.active {
    color: #FFB30D;

}

.contact-section {
  max-width: 700px;
  margin: 100px auto;
  padding: 0 20px;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  color: #FFB30D;
  margin-bottom: 30px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.contact-card {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.contact-card p {
  margin: 15px 0;
  font-size: 1rem;
}

.contact-card a {
  color: #0077b6;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

.contact-card i {
  margin-right: 8px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  font-size: 1.6rem;
  color: #555;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #0077b6;
}


@keyframes slideTop  {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}